*{
    color: white;
}

.navbar-img img{
    width: 70%;
}

.navbar-img {
    width: 25%;
}

.banner img{
    width: 100%;
}

.banner{
    width: 100%;
}

.cards h1{
   width: 100%;
   text-align: center;
   color: white;
}

.cards{
   /* display: flex; */
   /* flex-direction: column; */
   background-color: rgb(32, 31, 31);
}

.card-link-img{
    /* height: 20px; */
    width: 20px;
}

hr{
    border-color: white;

}